@tailwind base;
@tailwind components;
@tailwind utilities;


@import './base.css';

html {
  scroll-behavior: smooth;
}

body{
  background: #000;
  overflow-x: hidden;
}

/* global classes */

.text_white {
  color: rgb(201, 201, 201);
} 
.text-bold {
  font-weight: 600;
}


.button_1 {
    position: relative;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    padding: 12px 40px;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    z-index: 1;
    transition: color 0.4s ease;
  }
  
  .button_1::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -150%;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.6s ease, bottom 0.6s ease;
    cursor: pointer;
    z-index: -1;
  }
  
  .button_1:hover {
    color: black;
  }
  
  .button_1:hover::before {
    transform: translateX(-50%) scale(1);
    bottom: -50%;
  }
  